#img-modal {
    width: 140px;
    height: 195px;
}

.alinhando-imagem {
    display: flex;
    align-items:center;
}
.format-text {
    width: 300px;
    margin-left: 10px;
    text-align:justify;
    color: #000;
}
h1{
    color: black;
}

.principalbtn {
    position: relative;
    background-color: green;
    left: 50px;
    bottom: 20px;
}

.naobtn{
    position: relative;
    margin-left: 5px;
    bottom: 20px;
    left:50px;
    background-color: cornflowerblue;
}

.editbtn {
    background:url('src/imgs/edit.svg') no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5px;
    margin-left: 5px;
    width: auto;
    height: 40px;
}

.deletebtn {
    background:url('src/imgs/delete.svg') no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}