<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar  id="logo" routerLink="/home-usuario"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/comprar">Comprar</a>
      <a mat-list-item routerLink="/vender">Vender</a>
      <a mat-list-item routerLink="/trocar">Trocar</a>
      <a mat-list-item routerLink="/meus-produtos">Histórico</a>
      <a mat-list-item routerLink="/logout">Sair</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Histórico</span>
    </mat-toolbar>
    <mat-table [dataSource]="games$">
      <ng-container cdkColumnDef="username">
        <mat-header-cell *cdkHeaderCellDef> Nome do Jogo </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.nome}} </mat-cell>
      </ng-container>
    
      <!-- Age Definition -->
      <ng-container cdkColumnDef="age">
        <mat-header-cell *cdkHeaderCellDef> Tipo </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.tipo}} </mat-cell>
      </ng-container>
    
      <!-- Title Definition -->
      <ng-container cdkColumnDef="title">
        <mat-header-cell *cdkHeaderCellDef> Data de Lançamento </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.dataLancamento}} </mat-cell>
      </ng-container>
      
    
      <!-- Header and Row Declarations -->
      <mat-header-row *cdkHeaderRowDef="['username', 'age', 'title']"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: ['username', 'age', 'title']"></mat-row>
    </mat-table>
  </mat-sidenav-content>
</mat-sidenav-container>