<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar  id="logo"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">LOGIN</a>
      <a mat-list-item routerLink="/cadastrar">NOVO USUÁRIO</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Novo Usuário</span>
    </mat-toolbar>
    <div class="div">
        <form>
            <label id=label> Novo Usuário</label>
            <input type="text" id="F" name="firstname" [(ngModel)]="userInformation.nome" placeholder="Nome Completo" required>
            <label id=label > CPF</label>
            <input type="text" id="F" name="lastname" [(ngModel)]="userInformation.cpf" placeholder="CPF">
            <label id=label > E-mail</label>
            <input type="text" id="F" name="lastname" [(ngModel)]="userInformation.email" placeholder="E-Mail">
            <label id=label > Telefone</label>
            <input type="text" id="F" name="lastname" [(ngModel)]="userInformation.telefone" placeholder="Telefone">
            <label id=label >Senha</label>
            <input type="password" id="F" name="lastname" [(ngModel)]="userInformation.password" placeholder="Senha">
            <button id='botao-cadastro1' mat-button  (click)="addNeWUser()">Cadastrar-se</button>
        </form>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>