.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.form-control {
  width: 500px;
  margin: auto;
  width: 40%;
  border: -1px solid;
  padding: 10px;
 }

 #btnCadastrar { margin: auto;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: gainsboro;
  color: black;
}


 h1 { color: green}


